---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog Astro</title>
  </head>
  <body>

    
    <h1>About Flor</h1>
    <p>Soy Frontend dev + diseñadora ux/ui</p>
  </body>
</html>
